body{
    background-color: whitesmoke;
}

.cabezera{
    background-color: antiquewhite;
}

.cuerpo{
    margin: 10px;
}

.imagen-area{
    margin: 10px;
}

.pintura{
    margin: 10px;
}

footer{
    margin: 10px;
}

.botones-area{
    margin: 10px;
}

button{
    margin: 10px;
}